---
title: Dumb Password Rules
---

<!doctype html>
<html lang="en" class="h-full bg-gray-100">

<head>
    {% include "ga.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>{{ page_name or title }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/static/styles/tailwind.css" type="text/css" />
</head>

<body class="h-full">
    <div class="flex items-center gap-x-6 bg-indigo-600 py-2.5 px-6 sm:px-3.5 sm:before:flex-1">
        <p class="text-sm leading-6 text-white">
            <span>This is a work in progress as Dumb Password Rules is migrated from a GitHub README to a full static site.</span>
        </p>
        <div class="flex flex-1 justify-end">
            <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: mini/x-mark -->
            <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
            </button>
        </div>
    </div>
    <div class="bg-gray-100">
        <div class="min-h-full">
            {% include "nav.njk" %}
            <div class="py-10">
                <main>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        {{ content | safe }}
                    </div>
                </main>
            </div>
        </div>
    </div>
    {% include "footer.njk" %}
    <script src="/static/js/bundle.js" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
