---
title: Bad Password Rules
---

<!doctype html>
<html lang="en" class="h-full bg-gray-100">

<head>
    {% include "ga.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ "/static/img/favicon.ico" | bustCache }}">
    <title>{{ page_name or title }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="{{ "/static/styles/tailwind.css" | bustCache }}" type="text/css" />
</head>

<body class="h-full">
    <div class="bg-gray-100">
        <div class="min-h-full">
            {% include "nav.njk" %}
            <div class="py-10">
                <main>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        {{ content | safe }}
                    </div>
                </main>
            </div>
        </div>
    </div>
    {% include "footer.njk" %}
    <script src="{{ "/static/js/bundle.js" | bustCache }}" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
