<footer class="bg-white mt-12 sticky top-[100vh]">
    <div class="mx-auto max-w-7xl py-12 px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2">
            <a class="github-button" href="https://github.com/duffn/dumb-password-rules" data-size="large"
                data-show-count="true" aria-label="Star duffn/dumb-password-rules on GitHub">Star</a>
        </div>
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">
                <a class="underline text-red-600" href="https://dumbpasswordrules.com">Dumb Password Rules</a> is built
                by <a class="underline text-red-600" href="https://github.com/duffn">duffn</a> and many amazing
                <a class="underline text-red-600"
                    href="https://github.com/duffn/dumb-password-rules/graphs/contributors">contributors</a>.
            </p>
        </div>
    </div>
</footer>
