<meta name="description" content="{{ description or "Shaming sites with dumb password rules." }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ meta_url or "https://dumbpasswordrules.com" }}">
<meta property="og:image" content="{{ meta_image or "https://dumbpasswordrules.com/static/img/logo-large.png" }}" />
<meta property="og:title" content="{{ page_name or "Dumb Password Rules" }}">
<meta property="og:description" content="{{ description or "Shaming sites with dumb password rules." }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="dumbpasswordrules.com">
<meta name="twitter:url" content="{{ meta_url or "https://dumbpasswordrules.com" }}">
<meta name="twitter:image" content="{{ meta_image or "https://dumbpasswordrules.com/static/img/logo-large.png" }}" />
<meta name="twitter:title" content="{{ page_name or "Dumb Password Rules"  }}">
<meta name="twitter:description" content="{{ description or "Shaming sites with dumb password rules." }}">
