---
permalink: "/404.html"
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en" class="h-full">

<head>
    {% include "ga.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ " /static/img/favicon.ico" | bustCache }}">
    <title>Dumb Password Rules</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="{{ " /static/styles/tailwind.css" | bustCache }}" type="text/css" />
</head>

<body class="h-full">
    <main class="grid min-h-full place-items-center bg-white py-24 px-6 sm:py-32 lg:px-8">
        <div class="text-center">
            <img class="mx-auto h-10 w-auto sm:h-12 mb-20" src="/static/img/logo-med.png" alt="Dumb Password Rules">
            <p class="text-base font-semibold text-red-600">404</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn't find the page you're looking for.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/sites/"
                    class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">View
                    sites</a>
                <a href="/" class="text-sm font-semibold text-gray-900">Go back home <span
                        aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </main>
</body>

</html>
