---
layout: default.njk
permalink: "/about/"
---

<div class="bg-white py-24 px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <p class="text-lg font-semibold leading-8 tracking-tight text-red-600">Dumb Password Rules</p>
        <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">About</h2>
    </div>
    <div class="divide-y divide-gray-900/10">
        <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Why does this exist?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        I get very annoyed when I encounter a dumb password rule in the wild. One day, I had enough and
                        wanted to let everybody know how dumb these rules are.
                    </p>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">Who made this?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        Originally created by <a class="underline text-red-600"
                            href="https://github.com/duffn">me</a>.
                        Made what it is today by all the wonderful <a class="underline text-red-600"
                            href="https://github.com/duffn/dumb-password-rules/graphs/contributors">contributors</a>. ❤️
                    </p>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What's this about a bot?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        There's also a <a class="underline text-red-600"
                            href="https://infosec.exchange/@dumbpasswordrules">bot</a> that periodically toots random rules on Mastodon!
                    </p>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What makes a dumb password?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        You probably know it when you see it. "Maximum 17 characters, must start with a 7, no ~ allowed." If you aren't sure, open a new <a
                            class="underline text-red-600"
                            href="https://github.com/duffn/dumb-password-rules/issues">issue</a> or <a
                            class="underline text-red-600"
                            href="https://github.com/duffn/dumb-password-rules/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc">PR</a> to discuss.
                            This isn't a scientific study. There aren't any hard and fast rules though, so let's talk about it. 
                    </p>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">What makes a good password policy?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0 text-gray-600">
                    <p class="text-base leading-7 text-gray-600">                    
                        The <a class="underline text-red-600" href="https://pages.nist.gov/800-63-3/sp800-63b.html#5-authenticator-and-verifier-requirements" target="_blank">
                        current NIST guidelines for passwords</a>
                        state:
                    </p>

                    <ol class="ml-2 mt-2 px-2 !list-outside">
                        <li class="mb-2"><strong>Longer passwords (>=8 characters)</strong><br/>
                            but recommend even longer ones (passphrases with +64 characters)</li>
                        <li class="mb-2"><strong>Don't require password complexity</strong><br/>
                            like caps, special chars, etc., instead disallow bad 
                            or blacklisted passwords like "password" or 
                            "123456" by making use of
                            <ul class="ml-4 px-2 !list-outside">
                                <li>libs: e.g. <a class="underline text-red-600" href="https://github.com/dropbox/zxcvbn" target="_blank"><code>zxcvbn</code></a> ("a password strength estimator inspired by password crackers")
                                <li>APIs: e.g. <a class="underline text-red-600" href="https://haveibeenpwned.com/API/v3" target="_blank">haveibeenpwned API</a>
                            </ul>
                        </li>
                        <li class="mb-2"><strong>Avoid mandatory password changes</strong><br/>
                            except in cases of suspected compromise.</li>
                        <li class="mb-2"><strong>Allow copy-paste</strong><br/>
                            to facilitate the use of password managers.</li>
                        <li class="mb-2"><strong>Use two-factor authentication (2FA)</strong><br/>
                            or multi-factor authentication (MFA), especially for high-value accounts.
                        </li>
                    </ol>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">I found a password rule that I
                    think is dumb. Can I add it to this list?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        New contributions are always welcome! Please add your entry on <a
                            class="underline text-red-600"
                            href="https://github.com/duffn/dumb-password-rules">GitHub</a>. If you're not a developer
                        and don't know what GitHub is or how to work with it, why don't you <a rel="me"
                            class="underline text-red-600" href="https://fosstodon.org/@duffn">drop me a line</a> and
                        I'll lend a hand!
                    </p>
                </dd>
            </div>
            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">My company is on this list. How can I have us removed?</dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        If you've fixed your dumb password rule, awesome! I'll happily remove entries that have been corrected. 
                        Please open a pull request to have your entry removed on <a
                            class="underline text-red-600"
                            href="https://github.com/duffn/dumb-password-rules">GitHub</a>.
                    </p>
                </dd>
            </div>
        </dl>
    </div>
</div>
