name: Toot a dumb password rule

on:
  schedule:
    - cron: "37 2,14 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Toot a dumb password rule
    defaults:
      run:
        working-directory: .github/bot
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Create env file
        run: |
          touch .env
          echo MASTODON_API_ACCESS_TOKEN=${{ secrets.MASTODON_API_ACCESS_TOKEN }} >> .env
      - name: Toot!
        run: npm run toot
